aiohttp
aiosignal
asgiref
async-generator
async-timeout
asyncio
attrs
beautifulsoup4
black
certifi
cffi
charset-normalizer
chartjs
click
colorama
crispy-bootstrap5
cryptography
defusedxml
Django
django-allauth
django-bitfield
django-chartjs
django-filebrowser
django-grappelli
django-jet-reboot
django-likert-field
django-resized
django-richtextfield
django-widget-tweaks
djongo
dnspython
et-xmlfile
exceptiongroup
frozenlist
fuzzywuzzy
gunicorn
h11
idna
joblib
Levenshtein
multidict
mypy-extensions
nltk
numpy
oauthlib
openai
openpyxl
outcome
packaging
pandas
pathspec
pdfkit
Pillow
platformdirs
plotly
pycountry
pycparser
PyJWT
pymongo
PySocks
python-dateutil
python-dotenv
python-Levenshtein
python3-openid
pytz
rapidfuzz
regex
requests
requests-oauthlib
scikit-learn
scipy
selenium
sib-api-v3-sdk
six
sniffio
sortedcontainers
soupsieve
sqlparse
tenacity
threadpoolctl
tomli
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
whitenoise
wsproto
yarl

